@charset "utf-8";
.select {
        background: #CC00FF;
    }

    .page-header {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .page-main {
        width: 100%;
        height: auto;
        overflow: hidden;
        position: relative;
    }

    .public-table-main .page-main-left {
        width: 220px;
        height: 94%;
        overflow:auto;
        position: absolute;
        background: #E0FFFF;
        border-width:1px;
        border-style: solid;
        border-color:#eaeaea;
        background: #fff none repeat scroll 0 0;
        margin: 0px 10px 20px 5px;
        left:10px;
    }

    .public-table-main .page-main-right {
        margin-left: 230px;
        position: relative;
        top: 0px;
        margin-top: 0px;
        left: 0px;
    }

.list-nav {
    margin: 10px 0px 0px 40px;
}

.list-nav .level1 {
    font-weight: bold;
}

.list-nav ul {
    margin-left: 10px;
}

.list-nav ul li {
    margin: 3px 0px 3px 0px;
}

.list-nav span b {
    display: block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 20px;
    background: url(../../../Content/images/node-opened-2.png) no-repeat;
}

.list-nav span b.minus {
    background: url(../../../Content/images/node-closed-2.png) no-repeat;
}
