
@{
    ViewBag.Title = "用户信息";
    Layout = "~/Views/Shared/_Content.cshtml";
}
@section Scripts{
    <script>
        $(function () {
            $('#dg').iDatagrid({
                url: '/System/SysUser/GetDataList',
                onDblClickRow: function (index, row) {
                    Edit(row.Id);
                },
                columns: [[
                    { field: 'Id', checkbox: true },
                    { field: 'UserName', title: '用户名', halign: 'center', align: 'center' },
                    { field: 'RealName', title: '真实姓名', halign: 'center', align: 'center' },
                    {
                        field: 'IsUse', title: '启用', width: 50, halign: 'center', align: 'center', formatter: function (value, row, index) {
                            return getStateImgStr(row.IsUse);
                        }
                    },
                    {
                        field: 'option', title: '操作', halign: 'center', align: 'center', formatter: function (value, row, index) {
                            var str = "<div class='option_col'>";
                            str += "<a href='#' onclick='Edit(\"" + row.Id + "\")'>编辑</a>|";
                            str += "<a href='#' onclick='IsUse([\"" + row.Id + "\"]," + (!row.IsUse) + ")'>" + (row.IsUse ? '禁用' : '启用') + "</a>|";
                            str += "<a href='#' onclick='Del([\"" + row.Id + "\"])'>删除</a>";
                            str += "</div> ";

                            return str;
                        }
                    }
                ]]
            });

        });
        
        //点击编辑
        function Edit(id) {
            doForm({
                url: "/System/SysUser/Edit?id="+id,
                width: 550,
                height: 350,
                afterSuccess: function (data) {
                    $('#dg').datagrid('reload');
                }
            });
        }
        //点击删除
        function Del(ids) {
            if (ids.length > 0) {
                top.$.messager.confirm('提示', '你确定要删除所选' + ids.length + '条数据吗？', function (r) {
                    if (r) {
                        ajaxPost({//是否启用
                            url: '/System/SysUser/Delete',
                            data: { ids: ids },
                            success: function (data) {
                                if (data.isSuccess) {
                                    $('#dg').datagrid('reload');
                                    $.messager.alert('提示', data.message, 'info');
                                }
                                else {
                                    $.messager.alert('提示', data.message, 'error');
                                }
                            }
                        });
                    }
                });
            }
        }
        //点击删除按钮
        function Del_Btn() {
            var rows = $('#dg').datagrid('getSelections');
            var ids = getAttrByArr(rows, 'Id');
            Del(ids);
        }


        //点击启用禁用
        function IsUse(ids, value) {
            if (ids.length > 0) {
                ajaxPost({//是否启用
                    url: '/System/SysUser/ResetIsUse',
                    data: { ids: ids, isUse: value },
                    success: function (data) {
                        if (data.isSuccess) {
                            $('#dg').datagrid('reload');
                        }
                        else {
                            $.messager.alert('提示', '修改失败', 'error');
                        }
                    }
                });
            }
        }
        //点击启用禁用按钮
        function IsUse_Btn(value) {
            var rows = $('#dg').datagrid('getSelections');
            var ids = getAttrByArr(rows, 'Id');
            IsUse(ids, value);
        }

        //查询
        function Query() {
            var mm = top;
            $('#dg').datagrid('load', {
                UserName: $('#srh_UserName').val(),
                RealName: $('#srh_RealName').val()
            });
        }
        
    </script>
}

@section Css{
    <style>
    </style>
}
<table id="dg"></table>
<div id="searchDiv" class="searchDiv">
    <table class="searchTable">
        <tr>
            <td><span>用户名：</span><input type="text" id="srh_UserName" class="sr_input input_text" /></td>
            <td><span>真实姓名：</span><input type="text" id="srh_RealName" class="sr_input input_text" /></td>
            <td><a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="Query()">查询</a></td>
        </tr>        
    </table>
    <table class="toolTable">
        <tr>
            <td>
                <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="Edit()">新增</a>
                <a href="javascript:void(0);#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="Del_Btn()">删除</a>
                <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="IsUse_Btn(true)">启用</a>
                <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-no" plain="true" onclick="IsUse_Btn(false)">禁用</a>
            </td>
            @*<td>
                <div class="datagrid-btn-separator">
                </div>
            </td>*@
        </tr>
    </table>
</div>

