
@{
    ViewBag.Title = "资产统计明细编辑";
    Layout = "~/Views/Shared/_Content.cshtml";
}
@section Scripts{
    <script>
        var AssetsId = '@ViewData["AssetsId"]';
        var DetailId = '@ViewData["DetailId"]';
        var curBillType = '';

        $(function () {

            var getData = function () {
                if (!!DetailId) {
                    ajaxPost({//加载数据
                        url: '/Assets/Assets/GetDataById_Detail',
                        data: { id: DetailId },
                        success: function (data) {
                            $("#UIForm").form('load', data);
                        }
                    });
                }
                else if (!!AssetsId) {
                    $('#AssetsId').val(AssetsId);
                }
            }

            initData(getData);

        });

        //初始化数据
        //afterInitFn为初始化结束后执行方法
        function initData(afterInitFn) {

            var onAfterInit = function () {
                setTimeout(function () {
                    if (true) {
                        if (afterInitFn != null&&typeof (afterInitFn) =='function' ) {
                            afterInitFn.call(this);
                        }
                    }
                    else {
                        onAfterInit();
                    }
                },100);
            }
            onAfterInit();
        }


        function saveData() {
            var temp = { isSuccess: false }
            if (!$("#UIForm").form("validate")) {
                return false;
            }
            var dataForSave = $("#UIForm").formtojsonObj();

            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/Assets/Assets/Save_Detail",
                data: dataForSave,
                async: false,
                success: function (data) {
                    temp = data;
                },
                error: function () {
                    temp.message = "ajax出错";
                }
            })
            return temp;
        }
    </script>
}

@section Css{
    <style>
    </style>
}

<form id="UIForm">
    <input id="Id" name="Id" class="hidden" />
    <input id="AssetsId" name="AssetsId" class="hidden" />
    <table class="tableList">
        <tr>
            <th>名称：</th>
            <td><input type="text" name="Name" class="easyui-validatebox input_text" data-options="required:true" /></td>
        </tr>
        <tr>
            <th>金额：</th>
            <td><input type="text" name="Money" class="easyui-numberbox" data-options="required:true,precision:2,height:28,width:163,prefix:'￥'" /></td>
        </tr>
        <tr><th>备注：</th><td><textarea name="Remark" style="width:95%; height:80px;"></textarea></td></tr>
    </table>
</form>

