
@{
    ViewBag.Title = "记账信息";
    Layout = "~/Views/Shared/_Content.cshtml";
}
@section Scripts{
    <script>
        $(function () {

            initData();

            $('#dg').iDatagrid({
                url: '/Assets/AccountBook/GetDataList',
                onDblClickRow: function (index, row) {
                    Edit(row.Id);
                },
                columns: [[
                    { field: 'Id', checkbox: true },
                    { field: 'BookName', title: '账本', halign: 'center', align: 'center', width: 100 },
                    { field: 'BillType', title: '收/支', halign: 'center', align: 'center', width: 100 },
                    {
                        field: 'PayType', title: '类型', halign: 'center', align: 'center', width: 100, formatter: function (value, row, index) {
                            if (row.BillType == '收入')
                                return row.BillTypeIncome;
                            else
                                return row.BillTypeOutput;
                        }
                    },
                    { field: 'PayTime', title: '支付时间', halign: 'center', align: 'center', width: 150 },
                    {
                        field: 'Money', title: '金额', halign: 'center', align: 'center', width: 80, formatter: function (value, row, index) {
                            return row.CurrencyType + row.Money;
                        }
                    },
                    { field: 'Remark', title: '备注', halign: 'center', align: 'center', width: 80 },
                    {
                        field: 'option', title: '操作', halign: 'center', align: 'center', formatter: function (value, row, index) {
                            var str = "<div class='option_col'>";
                            str += "<a href='#' onclick='Edit(\"" + row.Id + "\")'>编辑</a>|";
                            str += "<a href='#' onclick='Del([\"" + row.Id + "\"])'>删除</a>";
                            str += "</div> ";
                            return str;
                        }
                    }
                ]]
            });

        });

        function initData() {
            //账本名称
            ajaxPost({
                url: '/System/SysDict/GetDictByCode?strCode=BookName',
                success: function (result) {
                    $('#BookName').createEasyuiComboboxByDictData({ data: result, multiple: true });
                }
            });
            //账单类型
            ajaxPost({
                url: '/System/SysDict/GetDictByCode?strCode=BillType',
                success: function (result) {
                    $('#BillType').createEasyuiComboboxByDictData({
                        data: result, multiple: true,
                        onChange: function (newValue, oldValue) {
                            $('.BillTypeOutput').show();
                            $('.BillTypeIncome').show();
                            if (newValue.length > 0) {
                                if ($.inArray("支出", newValue) < 0) {
                                    $('.BillTypeOutput').hide();
                                    $('#BillTypeOutput').combotree('clear');
                                }
                                if ($.inArray("收入", newValue) < 0) {
                                    $('.BillTypeIncome').hide();
                                    $('#BillTypeIncome').combotree('clear');
                                }
                            }
                        }
                    });
                }
            });

            //支出类型
            ajaxPost({
                url: '/System/SysDict/GetDictTreeByCode?strCode=BillType_output',
                success: function (result) {
                    $('#BillTypeOutput').createEasyuiCombotreeByDictData({ data: result, multiple: true });
                }
            });
            //收入类型
            ajaxPost({
                url: '/System/SysDict/GetDictTreeByCode?strCode=BillType_income',
                success: function (result) {
                    $('#BillTypeIncome').createEasyuiCombotreeByDictData({ data: result, multiple: true });
                }
            });


        }

        //点击编辑
        function Edit(id) {
            doForm({
                url: "/Assets/AccountBook/Edit?id=" + id,
                width: 600,
                height: 350,
                afterSuccess: function (data) {
                    $('#dg').datagrid('reload');
                }
            });
        }
        //点击删除
        function Del(ids) {
            if (ids.length > 0) {
                top.$.messager.confirm('提示', '你确定要所选' + ids.length + '条数据吗？', function (r) {
                    if (r) {
                        ajaxPost({//是否启用
                            url: '/Assets/AccountBook/Delete',
                            data: { ids: ids },
                            success: function (data) {
                                if (data.isSuccess) {
                                    $('#dg').datagrid('reload');
                                    $.messager.alert('提示', data.message, 'info');
                                }
                                else {
                                    $.messager.alert('提示', data.message, 'error');
                                }
                            }
                        });
                    }
                });
            }
        }
        //点击删除按钮
        function Del_Btn() {
            var rows = $('#dg').datagrid('getSelections');
            var ids = getAttrByArr(rows, 'Id');
            Del(ids);
        }

        //查询
        function Query() {
            var mm = top;
            var dataForSave = $("#searchForm").formtojsonObj();

            $('#dg').datagrid('load', dataForSave);
        }

    </script>
}

@section Css{
    <style>
    </style>
}
<table id="dg"></table>
<div id="searchDiv" class="searchDiv">
    <form id="searchForm">
        <table class="searchTable">
            <tr>
                <td>
                    <span>账本名称：</span>
                    <input type="text" id="BookName" name="BookName" />
                </td>
                <td>
                    <span>支付日期：</span>
                    <input type="text" name="PayTime_start" class="Wdate sr_input" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
                    <span style="margin:0px 5px;">-</span>
                    <input type="text" name="PayTime_end" class="Wdate sr_input" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
                </td>
                <td><a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="Query()">查询</a></td>
            </tr>
        </table><table class="searchTable">
            <tr>
                <td>
                    <span>账单类型：</span>
                    <input type="text" id="BillType" name="BillType" />
                </td>
                <td class="BillTypeOutput">
                    <span>支出类型：</span>
                    <input type="text" id="BillTypeOutput" name="BillTypeOutput" />
                </td>
                <td class="BillTypeIncome">
                    <span>收入类型：</span>
                    <input type="text" id="BillTypeIncome" name="BillTypeIncome" />
                </td>
            </tr>
        </table>
    </form>
    <table class="toolTable">
        <tr>
            <td>
                <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="Edit()">新增</a>
                <a href="javascript:void(0);#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="Del_Btn()">删除</a>
            </td>
            @*<td>
                    <div class="datagrid-btn-separator">
                    </div>
                </td>*@
        </tr>
    </table>
</div>
<div id="dd">Dialog Content.</div>

