
@{
    ViewBag.Title = "取现记录";
    Layout = "~/Views/Shared/_Content.cshtml";
}
@section Scripts{
    <script>
        $(function () {

            $('#dg').iDatagrid({
                url: '/Assets/CreditCard/GetDataList_TakeRecord',
                //onDblClickRow: function (index, row) {
                //    Edit(row.Id);
                //},
                onLoadSuccess: function (data) {
                    $("#FeeTotal").html('¥'+data.FeeTotal);
                },
                columns: [[
                    { field: 'Id', checkbox: true },
                    { field: 'UserName', title: '归属', halign: 'center', align: 'center', width: 100 },
                    { field: 'CardName', title: '卡名称', halign: 'center', align: 'center', width: 100 },
                    { field: 'TakeDate', title: '取现日期', halign: 'center', align: 'center', width: 100 },
                    {
                        field: 'TakeMoney', title: '金额', halign: 'center', align: 'right', width: 80, formatter: function (value, row, index) {
                            return '¥' + value.toFixed(2);
                        }
                    },
                    {
                        field: 'Fee', title: '手续费', halign: 'center', align: 'right', width: 80, formatter: function (value, row, index) {
                            return '¥' + value.toFixed(2);
                        }
                    },
                    {
                        field: 'HasReturn', title: '归还', width: 50, halign: 'center', align: 'center', formatter: function (value, row, index) {
                            return getStateImgStr(row.HasReturn);
                        }
                    },
                    { field: 'BillDay', title: '账单日', halign: 'center', align: 'center', width: 80 },
                    { field: 'RepaymentDay', title: '还款日', halign: 'center', align: 'center', width: 80 },
                    {
                        field: 'Remark', title: '备注', halign: 'center', align: 'left', width: 200, formatter: function (value, row, index) {
                            var text = value;
                            if (text == null) text = '';
                            return '<div class="textOneRow" title="' + text + '">' + text + '<div>';//style="width:300px;"
                        }
                    },
                    {
                        field: 'option', title: '操作', halign: 'center', align: 'center', formatter: function (value, row, index) {
                            var str = "<div class='option_col'>";
                            if (!row.HasReturn) {
                                str += "<a href='#' onclick='GiveBack(\"" + row.Id + "\")'>归还</a>|";
                            }
                            str += "<a href='#' onclick='Del([\"" + row.Id + "\"])'>删除</a>";
                            str += "</div> ";
                            return str;
                        }
                    }
                ]]
            });

        });

        //点击编辑
        function Edit(id) {
            doForm({
                url: "/Assets/CreditCard/TakeRecordEdit?id=" + id,
                width: 400,
                height: 400,
                afterSuccess: function (data) {
                    $('#dg').datagrid('reload');
                }
            });
        }
        //点击删除
        function Del(ids) {
            if (ids.length > 0) {
                top.$.messager.confirm('提示', '你确定要删除所选' + ids.length + '条数据吗？', function (r) {
                    if (r) {
                        ajaxPost({
                            url: '/Assets/CreditCard/Delete_TakeRecor',
                            data: { ids: ids },
                            success: function (data) {
                                if (data.isSuccess) {
                                    $('#dg').datagrid('reload');
                                    $.messager.alert('提示', data.message, 'info');
                                }
                                else {
                                    $.messager.alert('提示', data.message, 'error');
                                }
                            }
                        });
                    }
                });
            }
        }
        //点击删除按钮
        function Del_Btn() {
            var rows = $('#dg').datagrid('getSelections');
            var ids = getAttrByArr(rows, 'Id');
            Del(ids);
        }

        function GiveBack(id) {
            top.$.messager.confirm('提示', '你确定要归还所选记录吗？', function (r) {
                if (r) {
                    ajaxPost({
                        url: '/Assets/CreditCard/GiveBack_TakeRecor',
                        data: { id: id },
                        success: function (data) {
                            if (data.isSuccess) {
                                $('#dg').datagrid('reload');
                            }
                            else {
                                $.messager.alert('提示', data.message, 'error');
                            }
                        }
                    });
                }
            });

        }

        //查询
        function Query() {
            var mm = top;
            var dataForSave = $("#searchForm").formtojsonObj();

            $('#dg').datagrid('load', dataForSave);
        }

    </script>
}

@section Css{
    <style>
    </style>
}
<table id="dg"></table>
<div id="searchDiv" class="searchDiv">
    <form id="searchForm">
        <table class="searchTable">
            <tr>
                <td>
                    <span>卡名称：</span>
                    <input type="text" name="CardId" class="easyui-combobox" data-options="url:'/Assets/CreditCard/GetDataForCombo_CardInfo',panelHeight:'auto',width:150,multiple:true" />
                </td>
                <td>
                    <span>取现日期：</span>
                    <input type="text" name="TakeDate_start" class="Wdate sr_input" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
                    <span style="margin:0px 5px;">-</span>
                    <input type="text" name="TakeDate_end" class="Wdate sr_input" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
                </td>
                <td><a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="Query()">查询</a></td>
            </tr>
        </table>
    </form>
    <table class="toolTable">
        <tr>
            <td>
                <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="Edit()">新增</a>
                <a href="javascript:void(0);#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="Del_Btn()">删除</a>
            </td>
            @*<td>
                    <div class="datagrid-btn-separator">
                    </div>
                </td>*@
        </tr>
    </table>
    <div class="otherTip"><span class="title">手续费总额：</span><div class="value" id="FeeTotal" style="width:50px;"></div></div>
</div>
<div id="dd">Dialog Content.</div>

